:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

.menu {
  flex: 1;
  padding: 20px;
  min-width: fit-content;
  text-align: center;

  background-image: url("../../img/46396.jpg");
  background-size: cover;
}

.contenedor-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menu > h2 {
  display: inline;
  background-color: var(--textColor);
  border-radius: 15px;
  border: 5px solid var(--mainColor);
  color: var(--mainColor);
  font-size: 3rem;
  padding: 0 5px;
}

.pizzas,
.platos-calientes {
  display: inline;
  background-color: var(--textColor);
  border-radius: 15px;
  border: 5px solid var(--mainColor);
  color: var(--mainColor);
  padding: 0 5px;
  margin: 3rem 1rem;
}

@media only screen and (max-width: 1024px) {
  .contenedor-menu {
    display: grid;
    grid-template-columns: 2fr;
  }
  .pizzas,
  .platos-calientes {
    margin: 1rem 2rem;
  }
}
