@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

:root {
    --mainColor: #29335c;
    --mainColorLight: #5767aa;
    --secondaryColor: #db2b39;
    --textColor: #eee;
}

/* Footer */

footer {
    background-color: var(--mainColor);
    color: var(--textColor);
    text-align: center;
    /* bottom: 0; */
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: fit-content;
}

footer>.footer__div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 0 40px 0 30px;
    justify-content: space-evenly;
}

footer>.footer__div>.footer__div-div {
    padding: 0 15px;
    margin: 5px 0 0 0;
}

footer>.footer__div>.footer__div-div h3 {
    color: var(--textColor);
    text-align: left;
}

footer>.footer__div>.footer__div-div ul {
    list-style: none;
    padding: 0;
}

footer>.footer__div>.footer__div-div ul li {
    margin-bottom: 8px;
    text-align: left;
}

footer>.footer__div>.footer__div-div:last-child {
    align-self: center;
    padding: 10px;
}

footer>.footer__div>.footer__div-div>.redes {
    text-align: center;
}

footer>.footer__div>.footer__div-div>.redes a {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--mainColorLight);
    background-color: var(--mainColor);
    transition: all 0.5s;
}

footer>.footer__div>.footer__div-div>.redes a:hover {
    color: var(--mainColor);
    background-color: var(--mainColorLight);
}

@media only screen and (max-width: 1024px) {

    footer {
        padding-bottom: 20px;
    }

    footer>.footer__div {
        flex-direction: column;
    }

    footer>.footer__div>.footer__div-div h3 {
        text-align: center;
    }

    footer>.footer__div>.footer__div-div ul li {
        text-align: center;
    }
}